<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>パスワード再設定</h1>
    <form action="<%= originalUrl %>" method="post">
      <label>メールアドレス</label>
      <input
        type="text"
        name="email"
        value="<%= email %>"
        readonly="readonly"
      />
      <br />
      <label>パスワード</label>
      <input required type="password" name="password" />
      <br />
      <label>パスワード再入力</label>
      <input required type="text" name="repassword" />
      <br />
      <input type="submit" value="Password reset" />
    </form>
  </body>
</html>
